
<section class="section section--fabric" id="fabric">
  <div class="container-boot">
    <div class="row">
      <div class="col-md-12">
        <div class="share-widget">
          <ul class="share-widget__icons">
            <li><a class="share-widget__links share-widget__links--rev " href="<perch:content id="fb-url" type="text" label="Facebook Link" />"><i class="fa fa-lg fa-facebook"></i></a></li>
            <li><a class="share-widget__links share-widget__links--rev " href="<perch:content id="fl-url" type="text" label="Flickr Link" />"><i class="fa fa-lg fa-flickr"></i></a></li>
            <li><a class="share-widget__links share-widget__links--rev " href="<perch:content id="in-url" type="text" label="Instagram Link" />"><i class="fa fa-lg fa-instagram"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>