.article__content-wrapper {
    position: relative;
}

.article__content {
    margin: 0 auto;
    max-width: 680px;
    padding: 60px 30px 30px;
    @include MQ(L) {
		padding: 100px 0;
    }
}

.article__body-copy {
    line-height: 1.7;
    @include MQ(M) {
		 line-height: inherit;
    }
}

.article p {
    margin-bottom: 25px;
    @include MQ(M) {
		margin-bottom: 40px;
    }
}

.article__gallery {
    margin-top: 100px;
}

.gallery img {
    display: block;
    height: auto;
    margin-bottom: 40px;
    width: 100%;
}

.article__sidebar {
    transform: translate3d(0px, 0px, 0px);
     @include MQ(L) { 
        padding: 120px 0;
        position: absolute;
        right: 40px;
        top: 0;
        &.stickit {
            position: fixed;
            top: 0;
        }
     }
}



.share-widget {
    margin: 60px 0;
    @include MQ(L) {
        margin-bottom: 0;
    }
}

.share-widget__title {
    color: #404040;
    font-size: 16px;
    line-height: 1;
    margin-bottom: 10px;
    text-align: center;
    @include MQ(L) { 
        display: block;
        margin-bottom: 0;
        text-align: left;
    }
}


.share-widget .social-icons {
    font-size: 16px;
    margin: 15px 0;
    text-align: center;
    @include MQ(L) {
        font-size: 14px;
        // text-align: right;
    }
}

.share-widget .social-icons a { 
    border: 1px solid #bebebe;
    border-radius: 50%;
    color: #504e4f;
    display: inline-block;
    height: 40px;
    line-height: 40px;
    text-align: center;
    transition: transform 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s, margin 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s, background 0.3s ease 0s, color 0.2s ease 0s, border 0.3s ease 0s;
    width: 40px;
    
    @include MQ(M) { 
        margin-left: 10px;

    }
}

.share-widget .social-icons a:hover {
    background: #474747;
    border-color: #474747;
    color: #fff;
    cursor: pointer;
}

.share-widget .social-icons i {
    vertical-align: middle;
}

.social-icons {
    list-style: outside none none;
    padding: 0;
}
.social-icons li {
    display: inline-block;
    margin: 0 5px;
    @include MQ(L) { 
        margin: 0;
    }
}

.social-icons a:hover {
    color: #1a1a1a;
    display: inline-block;
    text-decoration: none;
}
.social-icons .share--facebook.highlight {
    background: #3b5998 none repeat scroll 0 0;
    border-color: #3b5998;
    color: #fff;
}
.social-icons .share--twitter.highlight {
    background: #55acee none repeat scroll 0 0;
    border-color: #55acee;
    color: #fff;
}
.article .top-widget {
    display: none !important;
    margin-top: 180px;
    // text-align: right;
}
.article .top-widget a {
    background: #fff none repeat scroll 0 0;
    border: medium none;
    color: #232323;
    display: inline-block;
    font-size: 30px;
    height: 100px;
    line-height: 100px;
    // text-align: center;
    width: 100px;
}