html, body {
	height: 100%;
	font-family: 'Lato', sans-serif;
}

body {
	&.overflow-hidden {
		/* when primary navigation is visible, the content in the background won't scroll */
		overflow: hidden;
	}
	&.modal-open {
	    overflow: visible;
	}
}


.logo {
	color: #fff;
	// color: #DCEAEB;
	// font-family: 'Libre Baskerville', serif;

	h2 {
		border-bottom: 1px solid #fff;
		margin: 0;
		padding: 0 0 0.1em;
		font-weight: 300;
	}
}

.logo > span {
    font-size: 0.75em;
	font-weight: 400;
}


#fabric {
	background: rgba(246,245,237,.6);
	background: #FAF6E4;
	padding: 2em;
}

.section-heading {
	// font-family: 'Libre Baskerville', serif;
	color: darken(#CECFB0, 40%);
	font-size: 3em;
	margin: 0;
}


.section-blurb {
	font-size: .8em;
    // color: rgb(64, 64, 64);
    color: #000000;
    color: darken(#CECFB0, 40%);
    font-weight: 300;
    line-height: 1.5;
    margin: 2em 0;
    text-align: justify;
    @include MQ(M) {
    	 // padding-left: 5%;
    	 // padding-right: 5%;
    	 font-size: 1.3em;
    }
}

.fab-heading {
	cursor: pointer;
	padding: .5em .2em;
	margin-top: 0;
	// background: darken(#CECFB0, 40%);
	color: darken(#CECFB0, 40%);
	text-shadow: 0 1px 1px #CECFB0;
}



// #tradition {
// 	.vertical-center {
// 		min-height: 40vh;
// 	}
// 	.jumbotron {
// 		height: 40%;
// 		.lead {
// 			margin: 130px;
// 		}
// 	}
// }

// .social {
// 	display: inline-block;
// 	position: relative;
// 	li{
// 		display: inline-block;
// 		left: 0;
//     	margin: 0;
//     	// padding: 1em 0 0;

// 		a {
// 			color: #777;
// 		}

// 	}
// }




#lexicon {
	background: #CECFB0;
	background: #DCEAEB;
	background: tint(#F6FAE4, 30%);
	padding: 2em;
	.fab-heading {
		font-size: 15px;
		@include MQ(M) {
			font-size: 20px;
		}
	}
	// .section-heading {
	// 	color: #fff;
	// }
}

.lex-heading {
	// background: lightgrey;
	padding: .3em;
	text-shadow: 1px 1px 1px black;
	cursor: pointer;
	font-size: 14px;
	@include MQ(M) {
		font-size: 20px;
	}
}

.modal-header {
	padding: 15px 15px 0 0;
	border: 0;
	height: 0;
}


.modal-body{
	background-size: cover;
	p {
		color: #fff !important;
		font-weight: 300;
	}
}

#silks .modal-content{
	background-image: url('../images/lexicon/Handwoven_Silks_L_5061.jpg');
}

#sheers .modal-content{
	// background-image: url('../images/lexicon/Handwoven_Silks_L_5860.jpg');
	background: linear-gradient(
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)
    ),
     url('../images/lexicon/Handwoven_Silks_L_5860.jpg') no-repeat;
}

#linen .modal-content{
	// background-image: url('../images/lexicon/Handwoven_Silks_L_5860.jpg');
	background: linear-gradient(
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)
    ),
     url('../images/lexicon/Italian_SIlks_IMG_0425.jpg') no-repeat;
}

#italian .modal-content{
	// background-image: url('../images/lexicon/Handwoven_Silks_L_5860.jpg');
	background: linear-gradient(
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)
    ),
     url('../images/lexicon/Italian_SIlks_IMG_0425.jpg') no-repeat;
}

#stocked .modal-content{
	// background-image: url('../images/lexicon/Handwoven_Silks_L_5860.jpg');
	background: linear-gradient(
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)
    ),
     url('../images/lexicon/Stocked_Handweaves_L_5925.jpg') no-repeat;
}

#linens .modal-content{
	// background-image: url('../images/lexicon/Handwoven_Silks_L_5860.jpg');
	background: linear-gradient(
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)
    ),
     url('../images/lexicon/IMG_0922.jpg') no-repeat;
}

#mohair .modal-content{
	// background-image: url('../images/lexicon/Handwoven_Silks_L_5860.jpg');
	background: linear-gradient(
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)
    ),
     url('../images/lexicon/Mohair_Velvet_IMG_0981.jpg') no-repeat;
}

#wool .modal-content{
	// background-image: url('../images/lexicon/Handwoven_Silks_L_5860.jpg');
	background: linear-gradient(
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)
    ),
     url('../images/lexicon/IMG_0947.jpg') no-repeat;
}

button.close {
	color: #fff;
	opacity: .7;
	&:hover {
		color: #fff;
		opacity: 1;
	}
}



.where {
    background: linear-gradient(
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)
    ),
     url('../images/2.5_IMG_1354.jpg') no-repeat;
	background-size: cover;
	// background-position: center center;
	padding: 2em;
	// height: 75%;
	color: #faf6e4;
	.section-heading {
		color: #faf6e4;
	}

	.section-blurb {
		color: #faf6e4;
	}
}

.is-copyright {
	padding-top: 2em;
}

#story {
	background: #C9BD9B;
	background: linear-gradient(
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)
    ),
     url('../images/IMG_4964.jpg') no-repeat;
	background-size: cover;
	background-position: center center;
	padding: 2em;
	// height: 75%;
	p {
		color: #faf6e4;
	}
	a {
		color: #faf6e4;
		border-bottom: 1px solid #faf6e4;
		display: inline-block;
		margin-bottom: 1em;

	}
	.fab-heading {
		color: #faf6e4;
		padding: 0;
		margin: 0;
	}
	.section-heading {
		color: #faf6e4;
	}
}



.lexicon-heading {
	margin: 0 0 .5em auto;
	border-bottom: 1px solid orange;
	width: 50%;
	padding: 0 0 .1em 0;
	background-color: rgba(190,190,190,.4);
}

.lex {
	border-bottom: 1px solid orange;
	@include MQ(L) {
		float: left;
		transform: rotate(-90deg) translate(-35%, 70px);
	}
}

.lex-2 {
	border-bottom: 1px solid orange;
	@include MQ(L) {
		transform: rotate(-90deg) translate(-50%, -30px);
		float: left;
	}
}



