html, body {
	height: 100%;
	font-family: 'Lato', sans-serif;
}

body {
	&.overflow-hidden {
		/* when primary navigation is visible, the content in the background won't scroll */
		overflow: hidden;
	}
	&.modal-open {
	    overflow: visible;
	}
}

.1jumbotron {
	height: 100%;
	background: url('../images/IMG_1271.jpg') no-repeat;
	background: url('../images/IMG_1476.jpg') no-repeat;
	
	background-size: cover;
	background-position: center center;
	position: relative;
	margin: 0;
}

.logo {
	position: absolute;
	color: #fff;
	padding: .5em 1em 1em 1em;
	top: 0;
	left: 1em;
	text-align: center;
	z-index: 999999;
	h2 {
		border-bottom: 1px solid #fff;
		padding: 0;
		margin: 0;
	}
}

.slogan {
	position: absolute;
	color: #fff;
	padding: .5em 1em;
	font-family: 'Lato','Libre Baskerville', serif;
	bottom: 5em;
	left: 1em;
	background: #CECFB0;
	h2 {
		font-size: 32px;
		text-shadow: 20px 6px 8px rgba(150, 150, 150, .5);
	}
}

.section-heading {
	font-family: 'Libre Baskerville', serif;
	// border-bottom: 1px solid black;
	color: #fff;
	margin: 0;
	font-size: 3em;
	&:after {
	  content: "";
	  background: #ccc;
	  position: absolute;
	  bottom: 0;
	  left: 0;
	  height: 1px;
	  width: 340px;
	}
}


.section-blurb {
	font-size: 1.3em;
    // color: rgb(64, 64, 64);
    line-height: 1.5;
    font-weight: 300;
    margin: 2em 0;
    color: #fff;
    @include MQ(M) {
    	 padding-left: 5%;
    	 padding-right: 5%;
    }
}

#story {
	background: #C9BD9B;
	background: linear-gradient(
      rgba(0, 0, 0, 0.3), 
      rgba(0, 0, 0, 0.3)
    ),
     url('../images/story/IMG_0212.jpg') no-repeat;
	background-size: cover;
	background-position: center center;
	padding: 2em;
	p {
		color: #fff;
	}
	h4 {
		text-shadow: 1px 1px 1px black;
	}
}

#myCarousel {
    width: 100%;
    height: 100%;
    position: relative;

}

.carousel-caption {
	left: 2%;
	text-align: left;
}
.carousel-inner {
	height: 100%;

}
.carousel-inner .item {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.ad1 {
    background: url('../images/IMG_1476.jpg');
}

.ad2 {
    background: url('../images/IMG_1271.jpg');
}

.ad3 {
    background: url('../images/IMG_1448-2.jpg');
}



#tradition {
	.vertical-center { 
		min-height: 40vh;
	}
	.jumbotron {
		height: 40%;
		.lead {
			margin: 130px;
		} 
	}
}

.social {
	display: inline-block;
	position: relative;
	li{
		display: inline-block;
		left: 0;
    	margin: 0;
    	// padding: 1em 0 0;
    	
		a {
			color: #777;
		}
		
	}
}
.test {
	background: #CECFB0;
	padding: 1em;
	width: 50%;
}

.navbar-fixed-top {
	padding: 2em;
	background: rgba(255,255,255,.7) !important;
}

#fabric {
	
	background: lightgrey;
	padding: 2em;
}

#lexicon {
	background: #CECFB0;
	padding: 2em;
}

.cont-img {
	overflow: hidden;
	position: relative;
	margin-bottom: 1em;
}

.cont-img img {
	opacity: 1;
	transition: all 0.2s ease-in-out 0s;
}

.cont-img img:hover {
	transform: scale(1.1) rotate(1deg);
	z-index: 9999;

}

.lex-heading {
	// background: lightgrey;
	padding: .3em;
	text-shadow: 1px 1px 1px black;
	cursor: pointer;
}

.where {
    background: linear-gradient(
      rgba(0, 0, 0, 0.3), 
      rgba(0, 0, 0, 0.3)
    ),
     url('../images/IMG_1488.jpg') no-repeat;
	background-size: cover;
	background-position: center center;
	padding: 2em;
	color: #fff;
	@include MQ(M) {
		background-position: 0 0;
	}
	h4 {
		@include font-size(50px);
	}
}



.lexicon-heading {
	margin: 0 0 .5em auto;
	border-bottom: 1px solid orange;
	width: 50%;
	padding: 0 0 .1em 0;
	background-color: rgba(190,190,190,.4);
}

.lex {
	border-bottom: 1px solid orange;
	@include MQ(L) {
		float: left;
		transform: rotate(-90deg) translate(-35%, 70px);
	}
}

.lex-2 {
	border-bottom: 1px solid orange;
	@include MQ(L) {
		transform: rotate(-90deg) translate(-50%, -30px);
		float: left;
	}
}



