html, body {
	height: 100%;
	font-family: 'Lato', sans-serif;
}

.jumbotron {
	height: 100%;
	background: url('../images/IMG_1480.jpg') no-repeat;
	background-size: cover;
	background-position: center center;
	position: relative;
	margin: 0;
	.lead {
		position: absolute;
		bottom: 10%;
		left: 3em;
		color: #fff;
		font-family: 'Libre Baskerville', serif;
	}
	h2 {
		border-bottom: 1px solid orange;
		margin: 0;
		font-size: 2.4em;
	}
}

.navbar-header h4 {
	margin: 0;
}

.heading {
	font-size: 1.4em;
    color: rgb(64, 64, 64);
    line-height: 1.5;
    font-weight: 300;
    margin-bottom: 2em;
    @include MQ(M) {
    	 padding-left: 10%;
    	padding-right: 10%;
    }
}
