html {
	overflow-x: hidden;
}

h1 {
	font-size: 2em;
	margin: 1em;
	word-wrap: break-word;
	@include MQ(M) {
		font-size: 4em;
	}
	span {
		border-bottom: 1px solid rgba(143,143,143,1);
	}
	p {
		padding-top: .5em;
		font-size: .5em;
	}
}

h2 {
	margin: .5em 0;
}

.jumbotron {
    padding-top: 0 ;
}

.init-img {
	position: relative;
	background: url('../images/IMG_1467-2.jpg') no-repeat;
	background-size: cover;
	height: 700px;
	width: 100%;
	text-align: center;
	padding: 0;

}

blockquote {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	text-align: center;
	font-size: 1em;
	line-height: 1.2;
	color: #fff;
	font-weight: lighter;
	padding: 1em 0;
	margin: auto;
	width: 50%;
	text-shadow: 1px 1px 1px rgba(143,143,143,1);
	p {
		font-size: 3em;
	}

}

.navbar-default {
	border: 0;
	background: #fff;
}

.navbar-default.dirty {
  background-color: #f8f8f8;
  border-color: #e7e7e7;
}



