/*** Mansonry ***/
.container.masonry {
    @include clearfix;
    // max-width: 1400px !important;
    // margin-right: 0;
    // margin-left: 0;
    // width: 100%;
    margin: 0 auto;
    @include MQ(S) {
       // width: 85%;
    }
    


}

.item {
    // margin: 0 0 1em 0;
  	width: 100%;
    float: left;
    // position: relative;
    // h4 {
    //   position: absolute;
    //   top: 0;
    //   color: tint(orange, 50%);
    //   font-size: 3em;
    //   background: rgba(0,0,0,.6);
    //   width: 100%;
    // }
}

.img-fabric:after, 
.img-fabric:before {
    position: absolute;
    opacity: 0;
    transition: all 0.5s;
}
.img-fabric:after {
    content: '\A';
    width: 100%; 
    height: 100%;
    top: 0; 
    left: 0;
    background: rgba(0,0,0,0.6);
}
.img-fabric:before {
    content: attr(data-content);
    width: 100%;
    color: #fff;
    z-index: 1;
    bottom: 0;
    padding: .5em;
    text-align: center;
    background: grey;
}
.img-fabric:hover:after, 
.img-fabric:hover:before {
    opacity:1;
}
 
@media screen and (min-width: 1000px) {
	.item {
     width: 27em;
     margin: .5em; 
	}
}

/* Transitions */

.masonry,
.masonry .masonry-item {
  -webkit-transition-duration: 0.7s;
     -moz-transition-duration: 0.7s;
      -ms-transition-duration: 0.7s;
       -o-transition-duration: 0.7s;
          transition-duration: 0.7s;
}

.masonry {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.masonry .masonry-item {
  -webkit-transition-property: left, right, top;
     -moz-transition-property: left, right, top;
      -ms-transition-property: left, right, top;
       -o-transition-property: left, right, top;
          transition-property: left, right, top;
}







