/*** Mansonry ***/
.container.masonry {
    @include clearfix;
    margin: 0 auto;
}

.item {
  	width: 100%;
    float: left;
    margin-bottom: 40px;
}

.img-fabric:after, 
.img-fabric:before {
    position: absolute;
    opacity: 1;
    transition: all .5s;
    @include MQ(L) {
      opacity: 0;
    }
}
.img-fabric:after {
    content: '\A';
    width: 100%; 
    height: 88%;
    bottom: 0; 
    
    background: none;

    @include MQ(L) {
      opacity: 0;
      background: rgba(0,0,0,0.6);
    }
    
}
.img-fabric:before {
    content: attr(data-content);
    width: 100%;
    color: #fff;
    z-index: 1;
    bottom: 0;
    padding: .5em;
    text-align: center;
    background: #3B1C05;
}
.img-fabric:hover:after, 
.img-fabric:hover:before {
    opacity:1;
    margin-bottom: 40px;
}
 
@media screen and (min-width: 1000px) {
	.item {
     width: 27em;
     // margin: .5em; 
	}
}

/* Transitions */

.masonry,
.masonry .masonry-item {
  -webkit-transition-duration: 0.7s;
     -moz-transition-duration: 0.7s;
      -ms-transition-duration: 0.7s;
       -o-transition-duration: 0.7s;
          transition-duration: 0.7s;
}

.masonry {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.masonry .masonry-item {
  -webkit-transition-property: left, right, top;
     -moz-transition-property: left, right, top;
      -ms-transition-property: left, right, top;
       -o-transition-property: left, right, top;
          transition-property: left, right, top;
}







