h2 {
    font-family: 'MyWebFont';
}

.grid__item img {
	display: block;
    max-width: 100%;
    width: 100%;
}



.grid__item {
    float: left;
    opacity: 1;
    transition: opacity 0.3s ease-in 0s;
    width: 100%;
    max-width: 100%;
    @include MQ(L) {
		height: auto;
    	margin-bottom: 40px;
    	margin-right: 10px;
    	max-width: 430px;
    }
}

@include MQ(M) {
    .grid__item--featured {
	    height: auto;
	    max-width: 100%;
        margin-right: 100px;
	}
}

.grid__item--featured {
    @include MQ(L) {
	    height: auto;
	    max-width: 650px;
        margin-right: 10px;
	}
}

.tile__title {
    color: #474747;
    font-size: 24px;
    line-height: 1;
    margin-top: 1em;
    margin-bottom: 0;
    a {
	    color: #474747;
	    text-decoration: none;
	    transition: color 0.3s ease 0s;
	}
}

.tile__subheading {
    color: #808080;
    font-size: 14px;
    margin: 0 !important;
}

.cd-logo {
    margin-top: 0;
} 

span {
    font-size: 1em;









