*, *:after, *:before {
	@include box-sizing(border-box);
}

body {
	font: {
		size: 100%;
		family: $primary-font; // variables inside partials > _variables.scss
	}
	color: rgba($color-1, .7);
	background-color: $color-3;

	&.overflow-hidden {
		/* when primary navigation is visible, the content in the background won't scroll */
		overflow: hidden;
	}
}

a {
	color: $color-3;
	text-decoration: none;
}

// body {
//     background: #f7f7f7 none repeat scroll 0 0;
//     color: #404040;
//     font-size: 15px;
//     line-height: 130%;
//     width: 100%;
//     overflow-x: hidden;
//     @media only screen and (min-width: 768px) { 
//         font-size: 20px;
//         line-height: 160%;
//     }
// }

// ol, ul {
//     list-style: outside none none;
// }