.header {
    background: #fff none repeat scroll 0 0;
    height: 80px;
    padding: 0;
    position: relative;
    text-align: center;
    transition: transform 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
    width: 100%;
    z-index: 100;
}

.header {
    left: 0;
    position: fixed;
    top: 0;
}

.header__branding {
    box-sizing: border-box;
    height: 80px;
    line-height: 42px;
    overflow: hidden;
    padding: 19px 12px;
    position: relative;
    @media only screen and (min-width: 768px) {
        padding: 19px 28px;
    }
}

.header__title {
    font-size: 25px;
    height: 42px;
    overflow: hidden;
    position: absolute;
    width: 40px;
    z-index: 20;
    margin: 0;
    a {
        color: #000;
        display: inline-block;
        line-height: 42px;
        text-decoration: none;
    }
}

.header__selector {
    font-size: 20px;
    font-style: italic;
    left: 0;
    padding: 0 20px 0 67px;
    position: absolute;
    right: 0;
    text-align: left;
    transition: transform 0.5s ease 0s, opacity 0.5s ease 0s;
    @media only screen and (min-width: 768px) { 
        padding: 0 40px;
        text-align: center;
    }
}

.header__selector__description {
    display: none;
    @media only screen and (min-width: 768px) { 
        display: inline;
    }
}

.header__selector__selected {
    border-bottom: 1px dashed #b0b0b0;
    color: #b0b0b0;
    cursor: pointer;
    position: relative;
    transition: color 0.3s ease 0s;
    &::after {
        content: ">";
        font-size: 12px;
        position: absolute;
        right: -20px;
        top: 50%;
        transform: translateY(-50%);
    }
    &:hover {
        color: #404040;
    }
}

.header__search {
    background: #fff none repeat scroll 0 0;
    left: 15px;
    opacity: 0;
    position: absolute;
    top: 19px;
    transform: scale(0.85);
    transition: transform 0.5s ease 0s, opacity 0.5s ease 0s;
    visibility: hidden;
    @media only screen and (min-width: 400px) {
        left: 0;
        position: absolute;
        right: 0;
    }
}

.header__nav {
    color: #1d1d1b;
    position: absolute;
    right: 12px;
    top: 19px;
    @media only screen and (min-width: 768px) { 
        .header__nav {
            right: 28px;
        }
    }
}

.header__nav__about, 
.header__nav__search, 
.header__nav__loading {
    cursor: pointer;
    display: inline-block;
    float: left;
    font-size: 17px;
    height: 42px;
    line-height: 42px;
    overflow: hidden;
    width: 20px;
}

.header__nav__loading {
    display: none;
    line-height: 42px;
    margin-right: 10px;
    img {
        display: inline-block;
        margin-bottom: -4px;
    }
}

.header__nav__search {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABwAAAAcCAMAAABF0y+mAAAAqFBMVEUAAAAdHRsgIB4dHRsdHRsdHRsdHRsdHRvu7u4dHRsdHRsdHRslJSMdHRsdHRtNTUtUVFMdHRsdHRupqagdHRsdHRsdHRsdHRv4+PguLiwxMTA0NDIdHRs3NzYdHRsdHRsdHRt9fXwdHRsdHRvNzc3R0dEdHRvp6ekdHRsdHRsoKCY/Pz1DQ0EdHRtJSUdkZGN0dHOOjo2cnJsdHRvIyMjU1NTi4uEdHRtH3U1HAAAAN3RSTlMA5OAjHNz80hEM9/Db2s+zrKGSVjcuKRAG0s/MzMjCl4eDXEkyLh4WBwPZwb24t5uLcmRANioe/cT5qwAAAOBJREFUKM+1z9eOwjAQhWHbgENCGmlL72XZ3v/3f7MN0gbbIK5WnKs5+jTyWPw3rUUcoL2suiR/TpP+3Zm1PUCqkZJAtHP3alNvm3raLhV0nN0Mhl9/83YMffsWjdqc2ncIpcEFLIXJO2SmTZA/FnYVkWkBU2HnCe5PBRIHUzD3ah4dTOzNCNW1bBAiTZvDh4W589EChntz7BjWwuQZXvaNJRC0Ldz1YJQPju/lU4COrUWthOlr+gBcaBXTxFvLcz2sZhrQs9VBtBq14peflX8cbHVjdCKua68QVzUuxe3yCzgSH8KQBBBvAAAAAElFTkSuQmCC");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% auto;
    height: 42px;
    margin-right: 18px;
}



.header__regions__close {
    background: transparent none repeat scroll 0 0;
    border: 0 none;
    color: #fff;
    cursor: pointer;
    font-size: 15px;
    outline: medium none;
    padding: 5px;
    position: absolute;
    right: 20px;
    top: 20px;
}

.header__selector__selected::after {
    -moz-osx-font-smoothing: grayscale;
    font-family: "dotw";
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1;
    text-transform: none;
}



.header__regions {
    bottom: 100%;
    opacity: 0;
    position: absolute;
    transition: transform 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s, opacity 0s linear 0.5s, visibility 0s linear 0.5s;
    visibility: hidden;
    width: 100%;
    z-index: 100;
    ul {
        font-size: 0;
        white-space: nowrap;
    }
    li {
        height: 73px;
        overflow: hidden;
        position: relative;
        width: 100%;
        a {
            display: block;
            height: 100%;
            position: relative;
            width: 100%;
            &::before {
                background: #000 none repeat scroll 0 0;
                content: "";
                height: 100%;
                left: 0;
                opacity: 0.5;
                position: absolute;
                top: 0;
                transition: opacity 0.2s linear 0s;
                width: 100%;
            }
            &:hover:before { 
                opacity: 0;
            }
        }
        .page-title {
            color: #fff;
            font-size: 20px;
            left: 50%;
            opacity: 0;
            position: absolute;
            top: 80%;
            transform: translateX(-50%) translateY(-50%);
            transition: all 0.3s linear 0s;
            @media only screen and (min-width: 1200px) { 
                font-size: 30px;
            }
            @media only screen and (min-width: 768px) { 
                font-size: 20px;
                padding: 0 10px;
                white-space: normal;
            }
        }
        @media only screen and (min-width: 768px) { 
            display: block;
            float: left;
            height: 100%;
            overflow: hidden;
            width: 16.6667%;
        }
    }
}





































