.search-form__input {
    border: medium none;
    font-size: 20px;
    height: 100%;
    line-height: 42px;
    min-width: 260px;
    outline: medium none;
    padding: 0;
    @media only screen and (min-width: 400px) { 
        font-size: 30px;
        max-width: 500px;
        text-align: center;
        width: 70%;
    }
}
