// External frameworks
@import 'bootstrap';
@import 'bower_components/bourbon/app/assets/stylesheets/bourbon';

//Settings
@import 'settings.global';
@import 'settings.fonts';

// Tools
@import 'tools.functions';
@import 'tools.mixins';

// Generic
@import 'generic.normalize';
@import 'generic.reset';

// Base
@import 'base.images';

// Components
@import 'components.masonry';
@import 'components.footer';
@import 'components.share';
@import 'components.cd';

// Trumps
@import 'trumps.position';

@import 'boot';


#seven .jumbotron {
	padding-top: 30px;
	position: relative;
}

#seven .navbar-default {
	position: absolute;
	bottom: 0;
	width: 100%;
	margin-bottom: 0;
	box-shadow: 1px 1px 1px grey;
}

#seven .affix {
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    height: 50px
}