<section class="section section-weaving" id="weaving">
  <div class="container-boot">
    <div class="row">
      <div class="col-md-12">
        <h1 class="section__heading"><perch:content id="weaving-section-heading" type="text" label="Section Heading" required="true"/></h1>
        <!-- 16:9 aspect ratio -->
        <div class="embed-responsive embed-responsive-16by9">
          <perch:content id="video-link" type="text" label="Video Link" html="true" help="Copy and paste embed link from YouTube, Vimeo etc into this box." />
        </div>
      </div>
    </div>
  </div>
</section>