<section class="section section--fabric" id="fabric">
  <div class="container-boot">
    <div class="row">
      <div class="col-md-12">
        <h1 class="section__heading"><perch:content id="lexicon-section-heading" type="text" label="Section Heading" required="true" order="1"/></h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <p class=""><perch:content id="story-blurb" type="textarea" label="Main Paragraph" size="m" textile="false" html="true" editor="markitup" order="2" /></p>
      </div>
      <div class="img-fabric col-md-6">
        <a href="<perch:content id="story-image" type="image" label="Image"  width="1000" height="667" crop="true" order="2"/>" title="Title"><img src="<perch:content id="story-image" type="image" label="Image"  width="1000" height="667" crop="true" order="3"/>"/></a>
      </div>
    </div>
  </div>
</section>