<section class="section section--fabric" id="fabric">
  <div class="container-boot">
    <div class="row">
      <div class="col-md-12">
        <?php perch_gallery_album_details("Sheers", array(
            'template' => 'album-test.html'
          ));
          ?>
      </div>
    </div>
    <div class="row">
      <div class="popup-gallery">
       <?php perch_gallery_album_images("Sheers", array(
            'template' => 'album-image-test.html'

        ));
        ?>
      </div>
    </div>
  </div>
</section>