<header class="cd-header">
  <nav class="navbar navbar-default" role="navigation">
    <div class="container-boot">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="index.php">
          <div class="logo">
            <img src="<perch:content id="logo" type="image" label="Company Logo" />" alt="Soie de lune logo">
          </div>
        </a>
      </div>
      
      <div class="collapse navbar-collapse" id="navbar"> 
<?php perch_pages_navigation(); ?>

</div>
    </div><!-- /.container-fluid -->
  </nav>
</header>
